div.footer-nav
  div.actions-filter-panel
    button.actions-filter-panel__button.default.download Скачать
  div.paginator
    span Показывать по
    select
      option 10
      option 25
      option 50
      option 100
    div.page-nav
      span.navigate.prev
      input(type='text' value="1")
      span из 1
      span.navigate.next