div.table
  table(cellspacing="0")
    thead
      tr
        th
          div.flex-table
            div.sortable.text Муниципальное образование
            div.sortable.arrows
              span.up
              span.down
        th
          div.flex-table
            div.sortable.text Идентификатор
            div.sortable.arrows
              span.up
              span.down
        th
          div.flex-table
            div.sortable.text Местоположение
            div.sortable.arrows
              span.up
              span.down
        th
          div.flex-table
            div.sortable.text Статус
            div.sortable.arrows
              span.up
              span.down
        th
          div.flex-table
            div.sortable.text Суточная норма накопления, тонн
            div.sortable.arrows
              span.up
              span.down
        th
          div.flex-table
            div.sortable.text Балансодержатель
            div.sortable.arrows
              span.up
              span.down
        th
          div.flex-table
            div.sortable.text Количество контейнеров
            div.sortable.arrows
              span.up
              span.down
        th
          div.flex-table
            div.sortable.text Раздельный сбор
            div.sortable.arrows
              span.up
              span.down
        th

    tbody
      tr
        td Екатеринбург ГО
        td Контейнерная площадка
        td г. Екатеринбург, Ленана, д.1
        td действующий
        td 0,3
        td ООО УК ЖКХ
        td 5
        td да
        td
          div.buttons
            button.row-edit
            button.row-delete
      tr
        td Екатеринбург ГО
        td Контейнерная площадка
        td г. Екатеринбург, Ленана, д.1
        td действующий
        td 0,3
        td ООО УК ЖКХ
        td 5
        td да
        td
          div.buttons
            button.row-edit
            button.row-delete
      tr
        td Екатеринбург ГО
        td Контейнерная площадка
        td г. Екатеринбург, Ленана, д.1
        td действующий
        td 0,3
        td ООО УК ЖКХ
        td 5
        td да
        td
          div.buttons
            button.row-edit
            button.row-delete
      tr
        td Екатеринбург ГО
        td Контейнерная площадка
        td г. Екатеринбург, Ленана, д.1
        td действующий
        td 0,3
        td ООО УК ЖКХ
        td 5
        td да
        td
          div.buttons
            button.row-edit
            button.row-delete
      tr
        td Екатеринбург ГО
        td Контейнерная площадка
        td г. Екатеринбург, Ленана, д.1
        td действующий
        td 0,3
        td ООО УК ЖКХ
        td 5
        td да
        td
          div.buttons
            button.row-edit
            button.row-delete
      tr
        td Екатеринбург ГО
        td Контейнерная площадка
        td г. Екатеринбург, Ленана, д.1
        td действующий
        td 0,3
        td ООО УК ЖКХ
        td 5
        td да
        td
          div.buttons
            button.row-edit
            button.row-delete
      tr
        td Екатеринбург ГО
        td Контейнерная площадка
        td г. Екатеринбург, Ленана, д.1
        td действующий
        td 0,3
        td ООО УК ЖКХ
        td 5
        td да
        td
          div.buttons
            button.row-edit
            button.row-delete
      tr
        td Екатеринбург ГО
        td Контейнерная площадка
        td г. Екатеринбург, Ленана, д.1
        td действующий
        td 0,3
        td ООО УК ЖКХ
        td 5
        td да
        td
          div.buttons
            button.row-edit
            button.row-delete
      tr
        td Екатеринбург ГО
        td Контейнерная площадка
        td г. Екатеринбург, Ленана, д.1
        td действующий
        td 0,3
        td ООО УК ЖКХ
        td 5
        td да
        td
          div.buttons
            button.row-edit
            button.row-delete
      tr
        td Екатеринбург ГО
        td Контейнерная площадка
        td г. Екатеринбург, Ленана, д.1
        td действующий
        td 0,3
        td ООО УК ЖКХ
        td 5
        td да
        td
          div.buttons
            button.row-edit
            button.row-delete
      tr
        td Екатеринбург ГО
        td Контейнерная площадка
        td г. Екатеринбург, Ленана, д.1
        td действующий
        td 0,3
        td ООО УК ЖКХ
        td 5
        td да
        td
          div.buttons
            button.row-edit
            button.row-delete
      tr
        td Екатеринбург ГО
        td Контейнерная площадка
        td г. Екатеринбург, Ленана, д.1
        td действующий
        td 0,3
        td ООО УК ЖКХ
        td 5
        td да
        td
          div.buttons
            button.row-edit
            button.row-delete
      tr
        td Екатеринбург ГО
        td Контейнерная площадка
        td г. Екатеринбург, Ленана, д.1
        td действующий
        td 0,3
        td ООО УК ЖКХ
        td 5
        td да
        td
          div.buttons
            button.row-edit
            button.row-delete
      tr
        td Екатеринбург ГО
        td Контейнерная площадка
        td г. Екатеринбург, Ленана, д.1
        td действующий
        td 0,3
        td ООО УК ЖКХ
        td 5
        td да
        td
          div.buttons
            button.row-edit
            button.row-delete
      tr
        td Екатеринбург ГО
        td Контейнерная площадка
        td г. Екатеринбург, Ленана, д.1
        td действующий
        td 0,3
        td ООО УК ЖКХ
        td 5
        td да
        td
          div.buttons
            button.row-edit
            button.row-delete
      tr
        td Екатеринбург ГО
        td Контейнерная площадка
        td г. Екатеринбург, Ленана, д.1
        td действующий
        td 0,3
        td ООО УК ЖКХ
        td 5
        td да
        td
          div.buttons
            button.row-edit
            button.row-delete