extends layout/main-layout

block body

  block header
    header.header
      div.container.container--flex
        a.logo(href="/")
          img(src="/img/logo.png")
        nav.nav
          a(href="#") О компании
          a(href="#") Продукты
          a(href="#") Партнерам
          a(href="#") Контакты
        div.search
          img(src="/img/search.png")

  block content
    section.section.screen-1
      div.container
        div.logo
          img(src="/img/logo-big.png")
        div.title Очевидный результат!
        a.contact-us(href='#') Связаться с нами

  block footer
    //footer.footer
      div footer


append scripts
  //script(src = 'js/script.js')

