extends layout/main-layout

block body

  block header
    header.header
      div.container.container--flex
        a.logo(href="/")
          img(src="/img/logo.png")
        nav.nav
          a(href="#") О компании
          a(href="#") Продукты
          a(href="#") Партнерам
          a(href="#") Контакты
        div.search
          img(src="/img/search.png")

  block content
    section.section.screen-1
      div.container
        div.logo
          img(src="/img/logo-big.png")
        div.title Очевидный результат!
        a.contact-us-white.contact-us-big(href='#') Связаться с нами

    section.section.screen-2
      div.container
        div.title PR Story
          span.bold marketing project
        div.map
          img(src="/img/map.png")
        div.text
          p.
            PR STORY MARKETING PROJECT – это международная компания, которая занимается
            разработками в сфере интеллектуальной видеотрансляции. Мы внедряем инновации,
            помогающие максимально эффективно использовать цифровые устройства
            в повседневной жизни, сделать их по-настоящему интерактивными. Мы открываем
            функционал привычных гаджетов с новой стороны.

        a.contact-us(href='#') Связаться с нами


    section.section.screen-3
      div.container
        div.title Наши
          span.bold разработки


        div.development
          div.text
            p.
              Мы создали программное обеспечение на основе
              нейронных сетей, компьютерного зрения и
              искусственного интеллекта.

            p.bold.

              Наша система способна фиксировать и
              анализировать:

            ul.list
              li Пол
              li Возраст
              li Настроение
              li Наличие взгляда на экран
              li Готовность к восприятию информации

          div.pic
            img(src="/img/pic.png")


    section.section.screen-4
      div.container
        div.title Области
          span.bold применения

        div.features
          img(src="/img/feature-1.png")
          img(src="/img/feature-2.png")
          img(src="/img/feature-3.png")
          img(src="/img/feature-4.png")

        div.contact
          a.contact-us-white(href='#') Скачать презентацию

    section.section.screen-5
      div.container
        div.development
          div.pic
            img(src="/img/smartphone.png")

          div.text
            div.title Очевидный
              div.bold результат!
            p.
              Все разработки, внедряемые нами не являются открытиями. Уникальность нашей системы в комбинации открытий. И если мировые интернет-корпорации используют подобные наработки для сбора закрытой статистике о вас, то мы предлагаем вам инструменты для вас.
            p.
              Инструменты, уже сейчас служащие для повышения эффективности рекламы малого бизнеса, детского образования, коммуникации команд, безопасности.
            p.
              Мы открыты к диалогу и сотрудничеству и уверены — то, что мы делаем, нужно людям

            a.contact-us(href='#') Связаться с нами







  block footer
    //footer.footer
      div footer


append scripts
  //script(src = 'js/script.js')

